/* Base styles to ensure consistency and readability */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* A more modern font family */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* A softer shade of white for the background */
    color: #333; /* Default text color for better readability */
    line-height: 1.6; /* Improved line spacing for readability */
}

/* Header styles for an attractive, centered layout */
header {
    background-color: #fff; /* Pure white background for the header for contrast */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    display: flex;
    justify-content: space-between; /* Ensure icons are pushed to the edges */
    align-items: center;
    padding: 20px; /* Adequate padding for spacing */
    position: relative; /* For potential absolute positioning inside */
}

/* Center content container */
.title-container {
    text-align: center; /* Center the text */
    padding: 0 40px; /* Avoids touching the icons */
}

header h1 {
    margin: 0; /* Keeps margin from pushing elements away */
    font-size: 64px; /* Slightly larger for emphasis */
    font-style: italic;
    color: #0056b3; /* A pleasing shade of blue for pop */
    text-align: center; /* Ensures text is centered if flex properties don't apply as expected */
}


.subtitle {
    font-size: 16px;
    color: #666; /* A lighter shade for the subtitle */
}

.header-icon {
    width: 100px; /* Adjusted width for larger icons */
    height: auto; /* Maintain aspect ratio */
    flex-grow: 0;
}

#mission p {
    text-indent: 35px; /* Left indent for paragraphs */
    line-height: 1.6; /* Maintain line height */
    text-align: left; /* Align text to the right */
    font-family: 'Times New Roman', serif; /* Change font to Times New Roman */
}



/* Main content styling */
main {
    padding: 20px;
    max-width: 800px; /* Restrict content width for readability */
    margin: 20px auto; /* Center the main content */
}

#mission {
    background-color: #fff; /* White background for content sections */
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Consistent shadow as header */
}

/* Mission heading for distinction */
#mission h2 {
    color: #0056b3; /* Matching the title's color */
}

/* Paragraph adjustments for better flow */
p {
    text-align: justify; /* Justified text for a polished look */
}
